.jumbotron {
    background-image: url("../assets/pizza.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.jumbotron> h1{
    background-color: white;
    opacity: 0.5;
    width: 100%;
    text-align: center;
}



