:root{
    /*    color*/
    --color-dark-grey: #4d4d4d;
    --color-blue: #73aace;
    --color-light-blue:#bffbff;
    --color-yellow: #fff7d1;
    --border-radius: 4px;

}
body{
    margin: 1em;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    cursor: default;

}
.alert-info{
    display: none;
    /*position: absolute;*/
    /*right: 70px;*/
    /*top: 20px;*/
    /*display: none;*/
    /*font-size: 45px;*/
    /*text-align: center;*/
    /*border: 1px solid var(--color-blue);*/
    /*background-color: var(--color-light-blue);*/
    /*border-radius: var(--border-radius);*/
}
h1{
    font-size: 50px;
    display: inline-block;
    margin-top: 20px;

}
nav{
    float: right;
    margin-bottom: 40px;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding: 0;


}

.nav-links li{
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    margin: 12px;
}
img{
    width: 100%;
    border: 1px solid black;
}

#main {
    width: 60%;
    float: left;
    margin-right: 1em;

}
.sub-section{
    width: 36%;
    float: left;
    margin-left: 1em;
    margin-right: 1em;

}
h2{
    font-size: 20px;
}
footer>p{
    float: left;
    justify-content: space-between;
}
#social-media-links {
    float: right;
    font-size: 50px;
    color: var(--color-light-blue);
    padding: 5px;
}
#social-media-links i{
    color: var(--color-light-blue);
}
#social-media-links i:hover{
    color: var(--color-dark-grey);
}
a:hover{
    transform: scale(1.5);
}





