
/* 1. identify the element you want to style */
/*tag name-will get applied to ALL of that tag*/
p{
    color:white;
    font-family: 'Indie Flower', cursive;
    font-size: 40px
}
/* "#"id value - applied to only the element with that unique id value */
#fancy-header{
    color:#DEA01E;
    text-align: center;
    text-decoration: underline;

}
/* "."classValue - apply all element with that class name */
.purple{
    color: #DBF2FF
    border: dotted whitesmoke 5px ;
}
body{
    background-image: linear-gradient(to left bottom, #845ec2, #0078d1, #0086c1, #008d9f, #008f7a);
    /*background-image: url(../assets/ocean.jpg)*/
           /*;*/
}
h2{
    color : antiquewhite;
    font-family: Changa;
}
.philosophy li{
    font-family: "Indie Flower";
    font-size:20px;
    font-color:#C34A36;

}
/*selector{
    property: value;
    property: value;
    property: value;
 */
.salesInfo{
    font-family:"changa";
    padding: 10px 20px 20px 10px;
}
#productDetail{
    font-color:#845EC2;
    font-size: 30px;
}
a :hover{
    color:blue;
}
a :visited{
    color: red;
}




